[submodule "tools"]
	path = tools
	url = https://github.com/aquarist-labs/s3gw-tools
	branch = v0.8.x
[submodule "ceph"]
	path = ceph
	url = https://github.com/aquarist-labs/ceph
	branch = s3gw-v0.8.x
[submodule "charts"]
	path = charts
	url = https://github.com/aquarist-labs/s3gw-charts
	branch = v0.8.x
[submodule "ui"]
	path = ui
	url = https://github.com/aquarist-labs/s3gw-ui
	branch = v0.8.x
